data
/data_example

/asr-classification/
/finetune/.ipynb_checkpoints
/finetune/dictionary_check.ipynb
/finetune/output/*

/finetune/configs/tiny_debug.config


__pycache__

/finetune/__pycache__

.idea


/hpc_fu

*.DS_Store

/finetune/benchmark_results/*
benchmark_dataloader.py

/finetune/configs/cpus_test.config

/finetune/cpus_test.py



/finetune/__pychache__/*



/finetune/minimal_version/output
/finetune/minimal_version/output
