data
/data_example

/asr-classification/
/finetune/.ipynb_checkpoints
/finetune/dictionary_check.ipynb
/finetune/output/*

/finetune/configs/tiny_debug.config


__pycache__

/finetune/__pycache__

.idea

*.ipynb

/hpc_fu

*.DS_Store

/finetune/benchmark_results/*
benchmark_dataloader.py

/finetune/configs/cpus_test.config

/finetune/cpus_test.py



/finetune/__pychache__/*

memory_usage.log


finetune/dataloader_test.py
finetune/ray_custom_pytorch.py
finetune/ray_custom_claude2.py
finetune/ray_custom_claude.py
finetune/ray_custom_dataloader.py
finetune/dataloader_ray.py
finetune/benchmark_simple_loader.py
finetune/benchmark_dataloader_claude
